
<form [formGroup]="formB.obtenerBuscador" class= "row  needs-validation" >
  <h4>Buscadores</h4>
   <div class="col-md-3">
    <label for="validationCustom01" class="form-label">Fecha inicio</label>
    <input type="datetime-local" id="meeting-time"
    name="meeting-time" value="2018-06-12T19:30"
    min="2018-06-07T00:00"
    class="form-control"
    formControlName="fechaini"
    >

   </div>
   <div class="col-md-3">
    <label for="validationCustom01" class="form-label">Fecha fin</label>
    <input type="datetime-local" id="meeting-time"
    name="meeting-time" value="2018-06-12T19:30"
    min="2018-06-07T00:00"
    class="form-control"
    formControlName="fechaFinal"
    >

   </div>
   <div class="col-md-4 mb-3">
    <label for="validationCustom01" class="form-label">Nombre</label>
    <input type="text" class="form-control"
    formControlName="Foruser"
    >

   </div>
   <div class="col input-group m-4">
   <button type="button" class="form-control btn btn-primary"     formControlName="fechaini"
   (click)=" buscar()">buscar</button>
 </div>

</form>


<p *ngIf="!items"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="items">
  <thead >
    <tr class="bg-dark text-light text-aling-center">
      <th>Ticket</th>
      <th>Asunto</th>
      <th>Solicitante</th>
      <th>descripcion de licencia</th>
      <th>Fecha</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of items">
      <td>{{ items.nameTicket }}-{{items.numberTicket}}</td>
      <td>{{ items.asunto }}</td>
      <td>{{ items.persona_solicitante }}</td>
      <td>{{ items.descripcion_de_licencia }}</td>
      <td>{{ items.feca_de_ingreso }}</td>
      <td><button type="button"class="btn btn-primary " (click)="openPopup(items)">
        <i class="bi bi-pencil-square"></i>
      </button></td>
    </tr>
  </tbody>
</table>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Ticket</h4>
      </div>
      <div class="modal-body">
 <app-edit-ticket [ticket]="ticket"></app-edit-ticket>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger"
                (click)="closePopup()">

          Close
        </button>
      </div>
    </div>
  </div>
</div>
